{% extends "template.html" %}

{% block content %}

<h1>Eventos</h1>
<div id="calendar_events">
    {% for each in events %}
    {{each['id']}}&emsp;&emsp;{{each['summary']}}&emsp;&emsp;{{each['location']}}<br>
    {% endfor %}
</div>
<div style="height:100%; width:100%; position: absolute;">
    <div id="map" class="map"></div>
</div>
{% endblock %}
{% block my_javascript %}

<script>
    function initMap() {
        var center = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: center
        });
        {% for each in events %}
        {% if 'coordinates' in each %}
            var marker = new google.maps.Marker({position: {lat: {{each['coordinates']['lat']}},lng: {{each['coordinates']['lng']}}}, map: map});
        {% endif %}
        {% endfor %}
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp4euew8vLAzkrFXt1UBBTTjMxxiGNCZI&callback=initMap"></script>

{% endblock %}
